<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD56yyfshz3vrZkQ2zazWAX7VZYk24RCKk</string>
	<key>GCM_SENDER_ID</key>
	<string>29460329775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emantggw.chat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>litechat-add9c</string>
	<key>STORAGE_BUCKET</key>
	<string>litechat-add9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29460329775:ios:872727d2816e01d73addda</string>
</dict>
</plist>